#topbar
{
	
}

#navbar
{
	
}

.content
{
	margin-left:20px;
	margin-right:20px;
	border-radius:20px;
	background-color:lightgray;
	padding:10px;
}

.heading
{
	background-color:lightblue;
	padding:10px;
	font-size:20px;
	border-radius:15px;
	margin-top:5px;
}

.attachment
{
	text-decoration:none;
	background-color:lightgreen;
	margin-left:100px;
}
.heading:hover
{
	font-size-adjust:0.5;
}

a:hover
{
	background-color:yellow;
}
table
{
	border-radius:20px;
	border-collapse:collapse;
	background-color:lightgray;
	text-align:left;
	margin-top:15px;
	margin-left:20px;
	margin-right:20px;
	width:96%
}
th
{
	padding-left:20px;
	padding-top:20px;
	text-align:left;
	
	
}
td{padding-left:20px;}
body
{
	margin:0px;
}


